@font-face {
  font-family: 'Creepster';
  src: local('Creepster'), url('../../../public/Creepster-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  color: purple;
}

body {
  background-color: rgb(83, 0, 83);
  color: white;
  font-family: 'Creepster';
  src: local('Creepster'), url('../../../public/Creepster-Regular.ttf') format('truetype');
}


.dashboard {
  display: flex;
  justify-content: space-between;
  color: orange;
}

.createPost {
  font-size: 25px;
  font-weight: bold;
  color: orange;
  text-decoration: none;
  transition: font-size 0.2s;
  margin: 30px;
}

.createPost:hover {
  font-size: 23px;
  color: greenyellow;
}

.createPost a {
  transition: font-size 0.2s;
}

.post-container {
  margin-bottom: 30px;
  margin-left: 23%;
  margin-right: 23%;
  padding: 10px;
  border: 8px solid white;
  border-radius: 8px;
  cursor: pointer;
}

.post-header {
  align-items: center;
  cursor: pointer;
}

.post-title {
  font-weight: 600;
}

.post-author {
  color: rgb(255, 65, 65);
}

.title {
  font-size: 40px;
  color: orange;
}
