* {
    margin: 0; 
    box-sizing: border-box;
    color: black; 
}

h1 {
    font-size: 7em;
}

p {
    justify-self: flex-end;
    font-size: 2em;
    color: white;
}

.home-btn {
    width: 5em; 
    height: 1.5em;
    padding: 2px; 
    border: 2px solid white;
    border-radius: 0.25em;
    background-color: rgba(255, 255, 255, 0.457);
    z-index: 1;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.home-btn:hover {
    border: 2px solid rgba(255, 255, 255, 0.457);
    background-color: slategray;

}

.form {
    display: flex;
    background-color: #ffffffcc;
    color: #000;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 4px;
    border-radius: 8px;
    max-width: 700px;
    height: 40px;
    width: 100%;
    margin: 0 auto;
}

.form input[type=text] {
    border: transparent;
    background-color: transparent;
    width: 400px;
    font-size: 1.2rem;
    font-family: sans-serif;
}

.form input[type=text]:focus{
    outline: none;
}

.icon {
    fill: cyan;
}

button {
    padding-top: 7px
}
