.create-post-container {
  width: 500px;
  height: 600px;
  padding: 2rem 1rem;
  margin: 100px auto;
  background-color: whitesmoke;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 20px 35px rgba(0,0,0,0.1);
}

#create-post {
  font-size: 3rem;
  margin-top: -0.3rem;
}

.create-post-input {
  width: 92%;
  outline: none;
  height: 40px;
  border: 1px solid rgba(192, 192, 192);
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: white;
  font-size: 23px;
}
.create-post-textarea {
  width: 92%;
  outline: none;
  height: 350px;
  border: 1px solid rgba(192, 192, 192);
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  overflow: auto;
  background-color: white;
  font-size: 23px;
}

.create-post-btn {
  font-size: 1.5rem;
  margin-top: 1.8rem;
  margin: 5px;
  padding: 10px 0;
  border-radius: 10px;
  outline: none;
  border: none;
  width: 40%;
  color: white;
  cursor: pointer;
  background-color: yellowgreen;
  font-family: 'Creepster';
  src: local('Creepster'), url('../../../public/Creepster-Regular.ttf') format('truetype');
  font-style: normal;
}

.create-post-btn:hover {
  background-color: yellowgreen;
  font-size: 1.8rem;
  transition: font-size 0.2s;
}

.error-message {
  color: red;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}
