body {
    padding-top: 60px;
}

.navbar {
    position: fixed;
    justify-content: space-between;
    align-items: center;
    top: 0;
    background-color: black;
    width: 98.7%;
    height: 70px;
    display: flex;
    padding: 10px;
    border-style: solid;
}

.login-container {
    width: 500px;
    height: 400px;
    padding: 2rem 1rem;
    margin: 160px auto;
    background-color: whitesmoke;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2rem;
    margin-top: 1.2rem;
}

form input {
    width: 92%;
    outline: none;
    height: 40px;
    border: 1px solid rgba(192, 192, 192);
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: white;
}

.login-btn {
    font-size: 1.5rem;
    margin-top: 1.8rem;
    padding: 10px 0;
    border-radius: 10px;
    outline: none;
    border: none;
    width: 40%;
    color: white;
    cursor: pointer;
    background-color: yellowgreen;
    font-family: 'Creepster';
    src: local('Creepster'), url('../../../public/Creepster-Regular.ttf') format('truetype');
    font-style: normal;
}

.login-btn:hover {
    background-color: yellowgreen;
    font-size: 1.8rem;
    transition: font-size 0.2s;
}

input:focus {
    border: 1px solid rgba(192, 192, 192)
}

.member {
    font-size: 1.5rem;
    margin: 1.4rem;
    color: #636363;
}

.error-message {
    color: red;
    font-size: 0.8rem;
    margin-top: 0.5rem;
}
