@font-face {
  font-family: 'Creepster';
  src: url('/home/blair/cognixia_workspace/jumplus/forum-app/client/public/Creepster-Regular.ttf') format('truetype');
  font-style: normal;
  color: purple;
}

.profile-dropdown {
    position: absolute;
}

.hidden {
  display: none;
}
.navbar {
  background-color: orange;
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  padding: 10px;
  padding-top: 10px;
}

.nav-menu {
  display: flex;
}

li {
  font-weight: bold;
  font-family: creepster;
  padding: 0 1rem;
  list-style-type: none;
  font-size: 25px;
}

li a {
  text-decoration: none;
  color: white;
  transition: font-size 0.2s
}

li a:hover {
  font-weight: bold;
  font-size: 20px;
}

.logo {
  text-decoration: none;
  font-size: 50px;
  color: purple;
  font-family: 'Creepster';
  src: url('/home/blair/cognixia_workspace/jumplus/forum-app/client/public/Creepster-Regular.ttf') format('truetype');
}
